@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_100.otf);
  font-weight: 100; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_300.otf);
  font-weight: 300; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_500.otf);
  font-weight: 500; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_700.otf);
  font-weight: 700; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_900.otf);
  font-weight: 900; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PT_Sans-Web-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PT_Sans-Web-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoCondensed-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/RobotoCondensed-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/RobotoCondensed-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'Russo One';
  src: url(../fonts/Russo-One.ttf);
  font-weight: 700; }

body {
  overflow: hidden; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.preloader {
  display: block;
  z-index: 810;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px; }

.dveri_left,
.dveri_right {
  position: absolute;
  height: 100vh;
  width: 50vw;
  z-index: 800;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-transform ease 2s;
  transition: -webkit-transform ease 2s;
  transition: transform ease 2s;
  transition: transform ease 2s, -webkit-transform ease 2s; }

.dveri_left {
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#88BE2A), to(#3d5613));
  background: -webkit-linear-gradient(top, #88BE2A, #3d5613);
  background: linear-gradient(180deg, #88BE2A, #3d5613); }
  .dveri_left img {
    height: 500px;
    width: auto;
    top: 50%;
    margin-top: -250px;
    display: block;
    position: absolute;
    right: 0; }

.dveri_right {
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#000));
  background: -webkit-linear-gradient(top, #404040, #000);
  background: linear-gradient(180deg, #404040, #000); }
  .dveri_right img {
    height: 500px;
    width: auto;
    top: 50%;
    margin-top: -250px;
    display: block;
    position: absolute;
    left: 0; }

.container img {
  max-width: 100%; }
