@media (max-width: 768px) {


	$green: #6C991F;
	$dark-green: darken($green, 25%);
	$black: #000;
	$light-black: lighten($black, 25%);
	$white: #fff;
	$grey: #f7f7f7;
	$yellow: #aba012;
	$blue: #2D3E50;
	$red: #D84747;

	$size: 16px;

	.flex {
	  display: block;
	}

	.flex-wrap {
		display: block;
	}

	label {
	  margin-right: 20px;
	  margin-bottom: 10px;
	}

	.right {
	  text-align: center;
	}

	.bounce {
		display: none;
	}

	/* ______________________________ Header ______________________________ */

	.header {
	  .flex {
	    height: auto;
	  }
	  h1 {
	    font-size: $size * 1.1;
	  }   
	  .logo {
	    margin-top: 10px;
	  }
	  .phone {
	    font-size: $size * 1.2;
	    line-height: $size * 1.4;
	    margin: 0;
	    span {
	      font-size: $size;
	    }
	  }
	}

	.section-1 {
		height: auto;
		padding: 40px 0;
	  h2 {
	    font-size: $size * 1.4;
	  }
	  p {
	    font-size: $size;

	    span {
	      font-size: $size * 1.4;
	    }
	  }
	  .door {
	    right: 10px;
	    top: 50px;
	    width: 28%;
	    height: auto;
	  }
	}

	/* ______________________________ Section-2 ______________________________ */

	.section-2 {
	  padding: 40px 0;
	  img {
	    width: 40%;
	  }
	  h2 {
	    font-size: $size * 1.4;
	    margin-bottom: 20px;
	  }
	  h3 {
	    font-size: $size * 1.2;
	  }
	  p {
	    text-align: center;
	  }
	}

	/* ______________________________ Section-3 ______________________________ */

	.section-3 {
	  padding: 40px 0;
	  h2 {
	    font-size: $size * 1.4;
	    margin-bottom: 40px;
	  }
	}

	.product {
		margin-bottom: 15px;

	  h3 {
	    font-size: $size * 1.2;
	  }

	  img {
	    padding: 10px 0;
	  }

	  .price {
	    font-size: $size * 1.2;
	  }
	}

	.how-we-work {
	  padding: 40px 0;
	  h2 {
	    font-size: $size * 1.4;
	    margin-bottom: 40px;
	  }
	  h3 {
	    text-align: left;
	    font-size: $size * 1.2;
	  }
	}

	.footer {
	  p {
	    text-align: center
	  }
	}

}