$green: #6C991F;
$dark-green: darken($green, 25%);
$black: #000;
$light-black: lighten($black, 25%);
$white: #fff;
$grey: #f7f7f7;
$yellow: #aba012;
$blue: #2D3E50;
$red: #D84747;

$size: 16px;

@import "_fonts";

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans"
}

body {
  overflow: hidden;
}

::selection {
  background: rgba($blue, .3);
}

p {
  font-size: $size;
}

.flex {
  display: flex;
  align-items: center;
}

.preloader {
  display: block;
  z-index: 810;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

.dveri_left,
.dveri_right {
  position: absolute;
  height: 100vh;
  width: 50vw;
  z-index: 800;
  box-sizing: border-box;
  transition: transform ease 2s;
}

.center {
  text-align: center;
}

.dveri_left {  
  left: 0;  
  background: linear-gradient(180deg, $green, $dark-green);
  img {
    height: 500px;
    width: auto;
    top: 50%;
    margin-top: -250px;
    display: block;
    position: absolute;
    right: 0;
  }
}

.dveri_right {
  right: 0;
  background: linear-gradient(180deg, $light-black, $black);
  img {
    height: 500px;
    width: auto;
    top: 50%;
    margin-top: -250px;
    display: block;
    position: absolute;
    left: 0;
  }
}

.container img {
  max-width: 100%;
}

.right {
  text-align: right;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
}

/* ______________________________ bounce ______________________________ */

.bounce {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  animation: bounce 2s ease infinite;

  svg {
    fill: $grey;
  }

  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@keyframes bounce {
  0% {bottom: 30px}
  50% {bottom: 60px}
  100% {bottom: 30px}
}

/* ______________________________ Header ______________________________ */

.header {
  background: $grey; 
  .flex {
    height: 10vh;
  }
  h1 {
    margin: 0;
    color: $blue;
  }   
  .logo {
    width: 100%;
    height: auto;
  }
  .phone {
    font-weight: 700;
    font-size: $size * 1.6;
    line-height: $size * 1.8;
    color: $green;
    margin: 0;
    span {
      color: $black;
      font-size: $size * 1.2;
      font-weight: 300;
    }
  }
}

.section-1 {
  position: relative;
  height: 90vh;
  overflow: hidden;
  background: linear-gradient(to left, rgba($white, .2), rgba($white, 0)) ,$blue;
  h2 {
    color: $grey;
    font-size: $size * 5;
    font-weight: 700;
    text-align: left;
  }
  p {
    color: #a9a9a9;
    font-size: $size * 2;

    span {
      font-weight: 700;
      font-family: "Museo Sans Cyrl", sans-serif;
      font-size: $size * 5;
      color: $green;
    }
  }
  .door {
    position: absolute;
    display: block;
    right: 100px;
    top: 30px;
  }
}

/* ______________________________ Section-2 ______________________________ */

.section-2 {
  padding: 60px 0;
  img {
    width: 60%;
  }
  h2 {
    font-size: $size * 2.4;
    margin-bottom: 60px;
    color: $green
  }
  h3 {
    margin-bottom: 30px;
    color: $blue;
  }
  p {
    text-align: left;
  }
}

/* ______________________________ Section-3 ______________________________ */

.section-3 {
  background: $grey;
  padding: 60px 0;
  h2 {
    font-size: $size * 2.4;
    margin-bottom: 60px;
  }
}

#Container .mix{
    display: none;
}

.product {
  background: $white;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 0 15px rgba($black, .1);
  text-align: center;
  border: 3px solid transparent;

  &:hover {
    cursor: pointer;
    border: 3px solid rgba($green, .4);
  }

  h3 {
    padding: 7px 10px;
    line-height: 1.5em;
    margin: 0 0;
    transition: .1s;
    text-transform: capitalize;
  }

  img {
    padding: 20px 0;
    width: 100%;
    max-width: 120px;
    height: auto;
    transition: .2s;
  }

  .price {
    color: $green;
    font-size: $size * 2;
    font-weight: 500;
    font-family: 'Museo Sans Cyrl', sans-serif;
    text-align: center;
    padding: 10px 0;
  }
}

// Стилизация Radio

.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid darken($white, 20%);
  border-radius: 3px;
  background: $white;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: lighten($green, 15%);
  box-shadow: inset 0 1px 2px rgba($black, .5);
  opacity: 0;
  transition: all .2s;
}
.radio:checked + label:after {
  opacity: 1;
}

.small-img {
  margin-top: 30px;
  img {
    width: 50px;
    height: auto;
    transition: .2s;
    border: 3px solid transparent;
    &:hover {
      border: 3px solid rgba($green, .8);
    }
  }
}

.select-img {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  li {
    list-style: none;
  }
}

.how-we-work {
  background: $white;
  padding: 60px 0;
  h2 {
    font-size: $size * 2.4;
    margin-bottom: 60px;
  }
  .flex {
    margin-bottom: 30px;
  }
}

.questions {
  background: $grey;
  padding: 60px 0;
  h2 {
    font-size: $size * 2.4;
    margin-bottom: 30px;
    color: $green;
  }
  p {
    font-size: $size * 1.2;
    line-height: $size * 2;
    text-align: center;
  }
  input {
    border: 2px solid darken($grey, 10%);
    width: 100%;
    text-align: center;
    font-family: "Museo Sans Cyrl", sans-serif;
    padding: 5px;
    font-size: $size * 1.2;
    font-weight: 100;
    margin-bottom: 10px;
    background: $white;
    transition: .2s;
    outline: none;
    color: darken($green, 10%);
    &:hover,
    &:focus {
      border-color: $green;
    }
  }
  input[type="submit"] {
    background: darken($grey, 10%);
    color: $blue;
    &:hover,
    &:focus {
      background: $green;
      color: $white;
    }
  }
}


.footer {
  background: $blue;
  p {
    font-size: $size;
    color: $grey;
    font-weight: 100;
    font-family: "Museo Sans Cyrl", sans-serif;
    padding: 12px 0 2px;
  }
  img {
    width: 23px;
    height: auto;
    transition: .2s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.modal-body {
  p {
    text-align: justify;
    text-indent: 30px;
  }
  input {
    width: 100%;
  }
  input[type="submit"] {
    border: none;
    border-bottom: 3px solid rgba($black, .2);
    box-shadow: none;
    font-size: $size + 2px;
    text-shadow: 0 0 1px rgba($black, .3);
    font-weight: 700;
  }
}
.h3-wrap {
  h3 {
    display: block;
    margin-bottom: 50px;
  }
}